body {
    background-color: #4477FF;
    margin: 50px;
    font-family: arial;
}
#content {
    background-color: #FFFFFF;
    box-shadow: inset 0px 0px 24px #000000;
    width: 800px;
    height: 800px;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    border-radius: 20px;
	border: 1px solid black;
}
h1 {
    text-align: center;
}
#menu {
    height: 40px;
    width: 780px;
    padding: 10px;
    border: 1px solid;
    border-radius: 12px;
    background-color: #4477FF;
    box-shadow: inset 0px 0px 12px #000000;
}
.menu {
    float: left;
    border: 1px solid #000000;
	color: #000000;
    margin-left: 4px;
	margin-right: 4px;
    width: 184px;
    height: 40px;
    text-align: center;
    border-radius: 6px;
    background-color: #FFFFFF;
    box-shadow: inset 0px 0px 12px #000000;
    transition: color 0.5s, background-color 0.5s, border 0.5s;
}
span {
    vertical-align: middle;
    line-height: 40px;
}
.menu:hover {
    color: #FFFFFF;
    background-color: #000000;
    box-shadow: inset 0px 0px 12px #FFFFFF;
	border: 1px solid #FFFFFF;
}
p {
    text-align: center;
}
@keyframes test {
    from {transform: rotate(0deg)}
    to {transform: rotate(360deg)}
}
#bild {
    width: 300px;
    box-shadow: 0px 0px 12px #000000;
    transform: rotate(0deg);
    border-radius: 150px;
    height: 300px;
    margin-right: 250px;
	margin-top: 100px;
    animation-name: test;
    animation-duration: 2s;
    animation-timing-function: linear;
	animation-iteration-count: infinite;
	animation-play-state: paused;
	float: right;
	user-select: none;
}
#wrapper {
    display: block;
	width: 50px;
    height: 50px;
    background-color: lightskyblue;
	border-radius: 10px;
	box-shadow: 0 0 12px 0;
	float: left;
	left: 200px;
	position: relative;
	top: 100px;
	float: left;
}
#cb{
	display: none
}
#cb:checked ~ #bild {
    animation-play-state: running;
}
#cb:checked ~ #wrapper {
    box-shadow: inset 0 0 12px 0;
}
#play {
	height: 0px;
	width: 0px;
	box-shadow: inset 0 0 12px 0;
	padding 5px;
	position: relative;
	left: 10px;
	top: 10px;
	border-left: 30px solid #4477FF;
	border-top: 15px solid transparent;
	border-bottom: 15px solid transparent;
}
#foot {
	float: right;
	margin-top: 100px;
	margin-right: 220px;
}